@import url('https://fonts.googleapis.com/css2?family=Righteous&family=Sarala:wght@400;700&display=swap');
.single-header{
        display: flex;
        flex-direction:row;
        justify-content: space-around;
        align-items:center;
        padding: 1.7rem;
}
.logoPrincipal{
    height: 7.6vh;
}
.single-header-nav{
    display: flex;
    gap: 1.6rem;
}

.single-header-nav a{
    font-family: 'Sarala', sans-serif;
    color: #000000;
    font-weight: 400;
    font-size: 1.2rem;
}